$color1: springgreen;
$color2: orange;
$color3: rgba(110, 110, 110, 0.3);
$color4: lightblue;
$color5: black;
$fonts1: Verdana, Geneva, Tahoma, sans-serif;
$fonts2: cursive;
$fonts3: sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $color3;

    header{
        background-color: $color2;
        height: 120px;
        width: 100%;
    }

    .titulo1{
        font-size: 30px;
        color: $color5;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .inicio{
        margin: 20px;

        img:hover{
            transform: scale(0.8);
            transition: all 1.5s;
        }

        p{
            text-align: center;
            font-family: $fonts1;
            margin: 10px;
            padding: 10px;
        }
    }

    footer{
        height: 200px;
        width: 100%;
        background-color: orange;
        padding: 15px;

        .redes{
            text-align: center;

            i{
                letter-spacing: 15px;
                font-size: 25px;
                color: black;
                margin-top: 50px;
            }
        }
    }

    .copyright{
        margin: 15px;

        p{
            text-align: center;
            font-family: $fonts1;
            font-size: 18px;
            text-transform: capitalize;
        }
    }
}
